$color-primary: #00b9ff;
$color-primary-light: #36c8ff;
$color-primary-dark: #008fc5;
$color-secondary: #a4a4a4;
$color-secondary-light: #f4f4f4;
$color-secondary-dark: #545454;
$color-white: #ffffff;
$color-black: #000000;
