.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}
.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 15px;
  background-color: $color-secondary-light;
}
.d-flex {
  display: flex;
}
.justify-content {
  &-center {
    justify-content: center;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
}
.align-items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
}

/*Background Colors*/
.bg {
  &-primary,
  &-primary--hover:hover {
    background-color: $color-primary;
  }
  &-primary-light,
  &-primary-light--hover:hover {
    background-color: $color-primary-light;
  }
  &-primary-dark,
  &-primary-dark--hover:hover {
    background-color: $color-primary-dark;
  }
  &-secondary,
  &-secondary--hover:hover {
    background-color: $color-secondary;
  }
  &-secondary-light,
  &-secondary-light--hover:hover {
    background-color: $color-secondary-light;
  }
  &-secondary-dark,
  &-secondary-dark--hover:hover {
    background-color: $color-secondary-dark;
  }
  &-white,
  &-white--hover:hover {
    background-color: $color-white;
  }
  &-black,
  &-black--hover:hover {
    background-color: $color-black;
  }
}

/*Border Colors*/
.border {
  &-primary,
  &-primary--hover:hover {
    border-color: $color-primary !important;
  }
  &-primary-light,
  &-primary-light--hover:hover {
    border-color: $color-primary-light !important;
  }
  &-primary-dark,
  &-primary-dark--hover:hover {
    border-color: $color-primary-dark !important;
  }
  &-secondary,
  &-secondary--hover:hover {
    border-color: $color-secondary !important;
  }
  &-secondary-light,
  &-secondary-light--hover:hover {
    border-color: $color-secondary-light !important;
  }
  &-secondary-dark,
  &-secondary-dark--hover:hover {
    border-color: $color-secondary-dark !important;
  }
  &-white,
  &-white--hover:hover {
    border-color: $color-white !important;
  }
  &-black,
  &-black--hover:hover {
    border-color: $color-black !important;
  }
}

/*Borders*/
.border {
  border-width: 1px;
  &-1 {
    border-style: solid;
  }
  &-2 {
    border-width: 2px;
  }
  &-3 {
    border-width: 3px;
  }
  &-4 {
    border-width: 4px;
  }
  &-top {
    border-top-style: solid;
  }
  &-right {
    border-right-style: solid;
  }
  &-bottom {
    border-bottom-style: solid;
  }
  &-left {
    border-left-style: solid;
  }
}

.br {
  &-4 {
    border-radius: 4px;
  }
  &-6 {
    border-radius: 6px;
  }
  &-8 {
    border-radius: 8px;
  }
  &-10 {
    border-radius: 10px;
  }
  &-50 {
    border-radius: 50%;
  }
}
.cursor-pointer {
  cursor: pointer;
}
