.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}
.container {
  width: 100%;
  height: 100%;
}
.d-flex {
  display: flex;
}
.justify-content {
  &-center {
    justify-content: center;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
}
.align-items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
}

/*Background Colors*/
.bg {
  &-primary {
    background-color: $color-primary;
  }
  &-primary-light {
    background-color: $color-primary-light;
  }
  &-primary-dark {
    background-color: $color-primary-dark;
  }
  &-secondary {
    background-color: $color-secondary;
  }
  &-secondary-light {
    background-color: $color-secondary-light;
  }
  &-secondary-dark {
    background-color: $color-secondary-dark;
  }
  &-white {
    background-color: $color-white;
  }
  &-black {
    background-color: $color-black;
  }
}

/*Border Colors*/
.border {
  &-primary {
    border-color: $color-primary !important;
  }
  &-primary-light {
    border-color: $color-primary-light !important;
  }
  &-primary-dark {
    border-color: $color-primary-dark !important;
  }
  &-secondary {
    border-color: $color-secondary !important;
  }
  &-secondary-light {
    border-color: $color-secondary-light !important;
  }
  &-secondary-dark {
    border-color: $color-secondary-dark !important;
  }
  &-white {
    border-color: $color-white !important;
  }
  &-black {
    border-color: $color-black !important;
  }
}

/*Borders*/
.border {
  border-width: 1px;
  border-style: solid;
  &-2 {
    border-width: 2px;
  }
  &-3 {
    border-width: 3px;
  }
  &-4 {
    border-width: 4px;
  }
  &-top {
    border-top-style: solid;
  }
  &-right {
    border-right-style: solid;
  }
  &-bottom {
    border-bottom-style: solid;
  }
  &-left {
    border-left-style: solid;
  }
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}
.mx-auto {
  margin: 0px auto;
}
.my-auto {
  margin: auto 0px;
}
.px-auto {
  padding: 0px auto;
}
.py-auto {
  padding: auto 0px;
}
